playwright==1.44.0
beautifulsoup4==4.12.3
requests==2.31.0
gspread==6.1.2
google-auth==2.29.0
google-auth-oauthlib==1.2.0
python-dotenv==1.0.1
instaloader==4.11
pytz==2024.1
pytest==8.2.0
pytest-asyncio==0.23.7
